* {
    box-sizing: border-box;
}
.header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    width: 100%;  
    background: #0C4B35;
    padding: 17px 10%;

    img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    div:last-child {
        margin-left: auto;
    }
    a {
        text-decoration: none;
        color: white;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            color: white; 
        }
    }.header-contact-email,
    .header-contact-number,
    .header-contact-adress{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .language-change-header{
        ul{
            display: flex;
            align-items: center;
            justify-content: center
        }
        img{
            width: 12px;
            height: 7px;
            margin-left: 5px;
        }
    }
}
.new-header-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    gap: 10px;
    height: 85px;

    img{
        width: 120px;
        height: 55px;
    }
}
.new-bar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 45px;

    button{
        width: 170px;
        height: 50px;
        padding: 10px 35px;
        background-color: #00730C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    img{
        width: 30px;
        height: 26px;
        flex-shrink: 0;
    }
    span{
        color: #FFF;
        font-family: "Nunito";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-transform: capitalize;
        margin-left: 10px;
    }
}
.new-header-bar{
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.menu-new-bar-list,
.menu-new-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 43px;
    position: relative;
    cursor: pointer;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            padding-right: 25px;
            font-family: Nunito;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            text-transform: capitalize;

            &::after {
                content: "";
                background-image: url('Icons-Image/arrow icon.svg');
                background-size: 15px 15px;
                background-repeat: no-repeat;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
            }

            &:hover {
                color: #00730C;
                &::after {
                    background-image: url('Icons-Image/green-arrow-down.svg');
                }
            }
        }
        li:last-child {
            padding-right: 0; 
        }
        li:last-child::after {
            display: none;
        }
        li:last-child:hover {
            color: #00730C;
        }
    }
}
.hero{
    background-image: url(Icons-Image/Hero.png);
    background-repeat: no-repeat;
    height: 719px;
    width: 100%;
    max-width: 1920px;
    flex-shrink: 0;
    position: relative;

    .hero-big-img{
        display: flex;
        position:absolute;
        right: 0;
        bottom: 0;
        padding: 0 10px 0 0;
        img{
            width: 940px;
            height: 673px;
            flex-shrink: 0;
        }
    }
    .hero-text-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 900px;
        height: 450px;
        padding: 17% 0 0 0;
        padding-left: 10%;
        margin-left: 30px;

        div:nth-of-type(1){
            span{
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                text-transform: capitalize;
                color: #212529;
            }
        }
        div:nth-of-type(2) {
            p{
                font-family: Nunito;
                font-size: 58px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                color:#212529 ;

                span{
                    font-family: Nunito;
                    font-size: 58px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    color: #00730C;
                }
            }
        }div:nth-of-type(3){
            p{
                color: #676767;
                font-family: Nunito;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }
           
        }
        div:nth-of-type(4){
            display: flex;
            align-items: center;
            margin-top: 30px;
            gap: 35px;
            button{
                display: flex;
                padding: 13px 35px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                background-color: #00730C;
                cursor: pointer;
                border: none;
                outline: none;
                box-shadow: none;
            }
        }div:nth-of-type(5){
            p{
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; 
            text-transform: capitalize;
            color: #212529;
        }
    }
    span{
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        text-transform: capitalize;
        color: #FFF;
    }
        a{
            display: flex;
            color: #676767;
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            gap: 15px;
            text-decoration: none;

            img{
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.icon-png-hero{
    margin-top: -60px;
}
.hero-tags{
    display: flex;
    align-items: center;
    justify-content: ce;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .first-hero-tag, 
    .second-hero-tag, 
    .third-hero-tag {
        display: flex;
        align-items: center; 
      }

    .first-hero-tag .round-tag-hero,
    .second-hero-tag .round-tag-hero,
    .third-hero-tag .round-tag-hero {
        margin-right: 10px; 
}
    .round-tag-hero{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: linear-gradient(73deg, #00730C -83.5%, #F9F9F9 93.84%);
        background: size 100ch;;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 7px;
        }p{
            color: #212529;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; 
            text-transform: capitalize;

            span{
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                text-transform: capitalize;
            }
        }
    }
}