* {
  box-sizing: border-box;
}

.header-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  width: 100%;
  padding: 17px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #0C4B35;
}
.header-contact img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.header-contact a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header-contact ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-contact ul li {
  color: white;
}
.header-contact .header-contact-email,
.header-contact .header-contact-number,
.header-contact .header-contact-adress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact .language-change-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact .language-change-header img {
  width: 12px;
  height: 7px;
  margin-left: 5px;
}

.header-contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1470px;
  gap: 55px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header-contact-content div:last-child {
  margin-left: auto;
}

.new-header-bar {
  width: 100%;
  height: 85px;
}
.new-header-bar img {
  width: 120px;
  height: 55px;
}

.new-header-bar-content {
  width: 100%;
  max-width: 1470px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

.new-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 45px;
}
.new-bar-button button {
  width: 170px;
  height: 50px;
  padding: 10px 35px;
  background-color: #00730C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.new-bar-button img {
  width: 30px;
  height: 26px;
  flex-shrink: 0;
}
.new-bar-button span {
  color: #FFF;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-left: 10px;
}

.new-header-bar {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.menu-new-bar-list,
.menu-new-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
  position: relative;
  cursor: pointer;
}
.menu-new-bar-list ul,
.menu-new-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-new-bar-list ul li,
.menu-new-bar ul li {
  position: relative;
  padding-right: 25px;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
.menu-new-bar-list ul li::after,
.menu-new-bar ul li::after {
  content: "";
  background-image: url("Icons-Image/arrow icon.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}
.menu-new-bar-list ul li:hover,
.menu-new-bar ul li:hover {
  color: #00730C;
}
.menu-new-bar-list ul li:hover::after,
.menu-new-bar ul li:hover::after {
  background-image: url("Icons-Image/green-arrow-down.svg");
}
.menu-new-bar-list ul li:last-child,
.menu-new-bar ul li:last-child {
  padding-right: 0;
}
.menu-new-bar-list ul li:last-child::after,
.menu-new-bar ul li:last-child::after {
  display: none;
}
.menu-new-bar-list ul li:last-child:hover,
.menu-new-bar ul li:last-child:hover {
  color: #00730C;
}

.hero {
  background-image: url(Icons-Image/Hero.png);
  background-repeat: no-repeat;
  height: 719px;
  width: 100%;
  max-width: 1920px;
  flex-shrink: 0;
  position: relative;
  margin: auto;
}
.hero .hero-big-img {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 10px 0 0;
}
.hero .hero-big-img img {
  width: 940px;
  height: 673px;
  flex-shrink: 0;
}
.hero .hero-text-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 900px;
  height: 450px;
  padding: 17% 0 0 0;
  padding-left: 10%;
  margin-left: 30px;
}
.hero .hero-text-button div:nth-of-type(1) span {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  color: #212529;
}
.hero .hero-text-button div:nth-of-type(2) p {
  font-family: Nunito;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #212529;
}
.hero .hero-text-button div:nth-of-type(2) p span {
  font-family: Nunito;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #00730C;
}
.hero .hero-text-button div:nth-of-type(3) p {
  color: #676767;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.hero .hero-text-button div:nth-of-type(4) {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 35px;
}
.hero .hero-text-button div:nth-of-type(4) button {
  display: flex;
  padding: 13px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: #00730C;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
}
.hero .hero-text-button div:nth-of-type(5) p {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  color: #212529;
}
.hero .hero-text-button span {
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFF;
}
.hero .hero-text-button a {
  display: flex;
  color: #676767;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  gap: 15px;
  text-decoration: none;
}
.hero .hero-text-button a img {
  justify-content: center;
  align-items: center;
}

.hero-tags-text {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: capitalize;
}

.icon-png-hero {
  margin-top: -60px;
}

.hero-tags {
  display: flex;
  align-items: center;
  justify-content: ce;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.hero-tags .first-hero-tag,
.hero-tags .second-hero-tag,
.hero-tags .third-hero-tag {
  display: flex;
  align-items: center;
}
.hero-tags .first-hero-tag .round-tag-hero,
.hero-tags .second-hero-tag .round-tag-hero,
.hero-tags .third-hero-tag .round-tag-hero {
  margin-right: 10px;
}
.hero-tags .round-tag-hero {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(73deg, #00730C -83.5%, #F9F9F9 93.84%);
  background: size 100ch;
}
.hero-tags .round-tag-hero span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 7px;
}
.hero-tags .round-tag-hero p {
  color: #212529;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
.hero-tags .round-tag-hero p span {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}

.main-services-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  padding: 0 20%;
}
.main-services-text span {
  color: #00730C;
}
.main-services-text p {
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #676767;
  width: 1140px;
}
.main-services-text .main-services-about {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main-cards-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 50px 10% 0 10%;
}

.main-cards-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 50px 10% 0 10%;
}

.cards-main {
  align-items: center;
  padding: 0 43px;
  justify-content: space-between;
  width: 340px;
  height: 380px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(172deg, #FFF -10.79%, #FFF 94.04%);
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-main span {
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  color: #212529;
}
.cards-main p {
  display: block;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #676767;
  margin-top: auto;
  margin-bottom: 60px;
}/*# sourceMappingURL=style.css.map */