* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #0C4B35;
  padding: 17px 0;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 55px;
  max-width: 1400px;
  width: 100%;
}
.header-contact img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.header-contact div:last-child {
  margin-left: auto;
}
.header-contact a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header-contact ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-contact ul li {
  color: white;
}
.header-contact .header-contact-email,
.header-contact .header-contact-number,
.header-contact .header-contact-adress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact .language-change-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact .language-change-header img {
  width: 12px;
  height: 7px;
  margin-left: 5px;
}

.new-header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  gap: 10px;
  height: 85px;
}
.new-header-bar img {
  width: 120px;
  height: 55px;
}

.new-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 45px;
}
.new-bar-button button {
  width: 170px;
  height: 50px;
  padding: 10px 35px;
  background-color: #00730C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.new-bar-button img {
  width: 30px;
  height: 26px;
  flex-shrink: 0;
}
.new-bar-button span {
  color: #FFF;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-left: 10px;
}

.new-header-bar {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
}

.menu-new-bar-list,
.menu-new-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
  position: relative;
  cursor: pointer;
}
.menu-new-bar-list ul,
.menu-new-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-new-bar-list ul li,
.menu-new-bar ul li {
  position: relative;
  padding-right: 25px;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
.menu-new-bar-list ul li::after,
.menu-new-bar ul li::after {
  content: "";
  background-image: url("Icons-Image/arrow icon.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}
.menu-new-bar-list ul li:hover,
.menu-new-bar ul li:hover {
  color: #00730C;
}
.menu-new-bar-list ul li:hover::after,
.menu-new-bar ul li:hover::after {
  background-image: url("Icons-Image/green-arrow-down.svg");
}
.menu-new-bar-list ul li:last-child,
.menu-new-bar ul li:last-child {
  padding-right: 0;
}
.menu-new-bar-list ul li:last-child::after,
.menu-new-bar ul li:last-child::after {
  display: none;
}
.menu-new-bar-list ul li:last-child:hover,
.menu-new-bar ul li:last-child:hover {
  color: #00730C;
}

.hero {
  background-image: url(Icons-Image/Hero.png);
  background-repeat: no-repeat;
  height: 719px;
  width: 100%;
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */